@import "tailwindcss";

body {
  margin: 0;
}

.splash-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #08192B;
  position: relative;
  overflow: hidden;
}

.splash-screen::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle,
      rgba(0, 255, 116, 0.08) 0%,
      rgba(0, 255, 116, 0.03) 40%,
      rgba(0, 0, 0, 0) 75%);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(30px);
  z-index: 0;
}

.splash-screen img {
  width: 500px;
  position: relative;
  z-index: 1;
  animation: logoPulse 2.5s ease-in-out infinite;

}

@keyframes logoPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.03);
    opacity: 0.92;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}